<!-- app.component.html -->
<div class="app-vertical-layout">
    <app-navbar *ngIf="authService.isLoggedIn"></app-navbar>
    <div class="app-layout">
      <app-sidebar *ngIf="authService.isLoggedIn"></app-sidebar>
      <div class="main-content">
        <div id="content">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
                    </a>
                  </li>
                  
                </ul>
              </div><!-- Content -->
            </nav>
            
          </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer>
        <p>&copy; 2025 HR Platform. All rights reserved.</p>
      </footer>
  </div>